<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.area.mapper.ParkingAreaMapper">
    
    <resultMap type="ParkingArea" id="ParkingAreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="lotId"    column="lot_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="placeNum"    column="place_num"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectParkingAreaVo">
        select area_id, lot_id, city_id, place_num, order_num, del_flag, create_by, create_time, update_by, update_time from parking_area
    </sql>

    <select id="selectParkingAreaList" parameterType="ParkingArea" resultMap="ParkingAreaResult">
        <include refid="selectParkingAreaVo"/>
        <where>  
            <if test="lotId != null  and lotId != ''"> and lot_id = #{lotId}</if>
            <if test="cityId != null "> and city_id = #{cityId}</if>
            <if test="placeNum != null "> and place_num = #{placeNum}</if>
            <if test="orderNum != null "> and order_num = #{orderNum}</if>
        </where>
    </select>
    
    <select id="selectParkingAreaByAreaId" parameterType="Long" resultMap="ParkingAreaResult">
        <include refid="selectParkingAreaVo"/>
        where area_id = #{areaId}
    </select>
        
    <insert id="insertParkingArea" parameterType="ParkingArea" useGeneratedKeys="true" keyProperty="areaId">
        insert into parking_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lotId != null">lot_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="placeNum != null">place_num,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lotId != null">#{lotId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="placeNum != null">#{placeNum},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateParkingArea" parameterType="ParkingArea">
        update parking_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="lotId != null">lot_id = #{lotId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="placeNum != null">place_num = #{placeNum},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <delete id="deleteParkingAreaByAreaId" parameterType="Long">
        delete from parking_area where area_id = #{areaId}
    </delete>

    <delete id="deleteParkingAreaByAreaIds" parameterType="String">
        delete from parking_area where area_id in 
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>
</mapper>