<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.place.mapper.ParkingPlaceMapper">
    
    <resultMap type="ParkingPlace" id="ParkingPlaceResult">
        <result property="placeId"    column="place_id"    />
        <result property="lotId"    column="lot_id"    />
        <result property="areaId"    column="area_id"    />
        <result property="equipmentType"    column="equipment_type"    />
        <result property="equipmentSncode"    column="equipment_SNcode"    />
        <result property="bindDate"    column="bind_date"    />
        <result property="placeType"    column="place_type"    />
        <result property="placeProperty"    column="place_property"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="lot"    column="lot_id" javaType="ParkingLot" resultMap="ParkingLotResult" />
        <association property="area"    column="area_id" javaType="ParkingArea" resultMap="ParkingAreaResult" />
    </resultMap>

    <resultMap type="ParkingLot" id="ParkingLotResult">
        <result property="lotId"    column="lot_id"    />
        <result property="lotName"    column="lot_name"    />
        <result property="shortName"    column="short_name"    />
        <result property="cityId"    column="city_id"    />
        <result property="address"    column="address"    />
        <result property="placeNum"    column="place_num"    />
        <result property="lotStyle"    column="lot_style"    />
        <result property="orderNum"    column="order_num"    />
        <result property="buildTime"    column="build_time"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <resultMap type="ParkingArea" id="ParkingAreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="lotId"    column="lot_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="placeNum"    column="place_num"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectParkingPlaceVo">
        select p.place_id, p.lot_id, p.area_id, p.equipment_type, p.equipment_SNcode, p.bind_date, p.place_type, p.place_property, p.create_by, p.create_time,
        p.update_by, p.update_time , a.area_name, l.lot_name
        from parking_place p
        		left join parking_area a on p.area_id = a.area_id
		        left join parking_lot l on p.lot_id = l.lot_id
    </sql>

    <select id="selectParkingPlaceList" parameterType="ParkingPlace" resultMap="ParkingPlaceResult">
        <include refid="selectParkingPlaceVo"/>
        <where>  
            <if test="lotId != null "> and p.lot_id = #{lotId}</if>
            <if test="areaId != null "> and p.area_id = #{areaId}</if>
            <if test="equipmentType != null "> and equipment_type = #{equipmentType}</if>
            <if test="equipmentSncode != null  and equipmentSncode != ''"> and equipment_SNcode = #{equipmentSncode}</if>
            <if test="bindDate != null "> and bind_date = #{bindDate}</if>
            <if test="placeType != null  and placeType != ''"> and place_type = #{placeType}</if>
            <if test="placeProperty != null  and placeProperty != ''"> and place_property = #{placeProperty}</if>
        </where>
    </select>
    
    <select id="selectParkingPlaceByPlaceId" parameterType="Long" resultMap="ParkingPlaceResult">
        <include refid="selectParkingPlaceVo"/>
        where p.place_id = #{placeId}
    </select>
        
    <insert id="insertParkingPlace" parameterType="ParkingPlace" useGeneratedKeys="true" keyProperty="placeId">
        insert into parking_place
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lotId != null">lot_id,</if>
            <if test="areaId != null">area_id,</if>
            <if test="equipmentType != null">equipment_type,</if>
            <if test="equipmentSncode != null">equipment_SNcode,</if>
            <if test="bindDate != null">bind_date,</if>
            <if test="placeType != null">place_type,</if>
            <if test="placeProperty != null">place_property,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lotId != null">#{lotId},</if>
            <if test="areaId != null">#{areaId},</if>
            <if test="equipmentType != null">#{equipmentType},</if>
            <if test="equipmentSncode != null">#{equipmentSncode},</if>
            <if test="bindDate != null">#{bindDate},</if>
            <if test="placeType != null">#{placeType},</if>
            <if test="placeProperty != null">#{placeProperty},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateParkingPlace" parameterType="ParkingPlace">
        update parking_place
        <trim prefix="SET" suffixOverrides=",">
            <if test="lotId != null">lot_id = #{lotId},</if>
            <if test="areaId != null">area_id = #{areaId},</if>
            <if test="equipmentType != null">equipment_type = #{equipmentType},</if>
            <if test="equipmentSncode != null">equipment_SNcode = #{equipmentSncode},</if>
            <if test="bindDate != null">bind_date = #{bindDate},</if>
            <if test="placeType != null">place_type = #{placeType},</if>
            <if test="placeProperty != null">place_property = #{placeProperty},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where place_id = #{placeId}
    </update>

    <delete id="deleteParkingPlaceByPlaceId" parameterType="Long">
        delete from parking_place where place_id = #{placeId}
    </delete>

    <delete id="deleteParkingPlaceByPlaceIds" parameterType="String">
        delete from parking_place where place_id in 
        <foreach item="placeId" collection="array" open="(" separator="," close=")">
            #{placeId}
        </foreach>
    </delete>
</mapper>