<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.parking.area.mapper.ParkingAreaMapper">
    
    <resultMap type="ParkingArea" id="ParkingAreaResult">
        <result property="areaId"    column="area_id"    />
        <result property="areaName"    column="area_name"    />
        <result property="lotId"    column="lot_id"    />
        <result property="cityId"    column="city_id"    />
        <result property="placeNum"    column="place_num"    />
        <result property="orderNum"    column="order_num"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="lot"    column="lot_id" javaType="ParkingLot" resultMap="ParkingLotResult" />
    </resultMap>

    <resultMap type="ParkingLot" id="ParkingLotResult">
        <result property="lotId"    column="lot_id"    />
        <result property="lotName"    column="lot_name"    />
        <result property="shortName"    column="short_name"    />
        <result property="cityId"    column="city_id"    />
        <result property="address"    column="address"    />
        <result property="placeNum"    column="place_num"    />
        <result property="lotStyle"    column="lot_style"    />
        <result property="orderNum"    column="order_num"    />
        <result property="buildTime"    column="build_time"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectParkingAreaVo">
        select a.area_id, a.area_name, a.lot_id, a.city_id, a.place_num, a.order_num, a.del_flag, a.create_by, a.create_time, a.update_by, a.update_time,l.lot_name
        from parking_area a
        left join parking_lot l on l.lot_id = a.lot_id

    </sql>

    <select id="selectParkingAreaList" parameterType="ParkingArea" resultMap="ParkingAreaResult">
        <include refid="selectParkingAreaVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="lotId != null  and lotId != ''"> and a.lot_id = #{lotId}</if>
            <if test="cityId != null "> and a.city_id = #{cityId}</if>
            <if test="placeNum != null "> and a.place_num = #{placeNum}</if>
            <if test="orderNum != null "> and a.order_num = #{orderNum}</if>
        </where>
    </select>

    <select id="selectParkingAreaByLotId" parameterType="Long" resultMap="ParkingAreaResult">
        <include refid="selectParkingAreaVo"/>
        where a.lot_id = #{lotId}
    </select>

    <select id="selectParkingAreaByAreaId" parameterType="Long" resultMap="ParkingAreaResult">
        <include refid="selectParkingAreaVo"/>
        where a.area_id = #{areaId}
    </select>
        
    <insert id="insertParkingArea" parameterType="ParkingArea" useGeneratedKeys="true" keyProperty="areaId">
        insert into parking_area
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="areaName != null">area_name,</if>
            <if test="lotId != null">lot_id,</if>
            <if test="cityId != null">city_id,</if>
            <if test="placeNum != null">place_num,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="areaName != null">#{areaName},</if>
            <if test="lotId != null">#{lotId},</if>
            <if test="cityId != null">#{cityId},</if>
            <if test="placeNum != null">#{placeNum},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateParkingArea" parameterType="ParkingArea">
        update parking_area
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null">area_name = #{areaName},</if>
            <if test="lotId != null">lot_id = #{lotId},</if>
            <if test="cityId != null">city_id = #{cityId},</if>
            <if test="placeNum != null">place_num = #{placeNum},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where area_id = #{areaId}
    </update>

    <delete id="deleteParkingAreaByAreaId" parameterType="Long">
        delete from parking_area where area_id = #{areaId}
    </delete>

    <delete id="deleteParkingAreaByAreaIds" parameterType="String">
        delete from parking_area where area_id in 
        <foreach item="areaId" collection="array" open="(" separator="," close=")">
            #{areaId}
        </foreach>
    </delete>
</mapper>